body{
    
}
.main{
    height: 100vh;
    width: 100vw;
    background: url(../img/mèo02.jpg) center / cover;
    align-items: center;    
    display: flex;
}

.container{
    background-color: rgba(9, 7, 9, 0.2);
    width: 900px;
    margin: auto;
    margin-top: 52px;
}

.header{
    background-color: rgba(245, 245, 220, 0.5);
}

.header__title{
    padding: 0px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 32px;
    margin: 34px 0;
}
/* form nhập thông tin  */
.form{
}

.form__left{
    background-color: rgb(240 215 255 / 40%);
    /* height: 100px; */
    width: 100px;
}
.form__avatar--meo{
    background: url(../img/meo_nhin_sang02.png) center no-repeat;
    height: 300px;
    width: 100%;
    background-size: contain;
}

.form__right{
    background-color: rgba(245, 151, 202,0.4);
    display: flex;
    flex-direction: column;
    
}
.form__title{
    text-align: center;
    margin: 15px 0;
}
.title-no-account{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: rgb(240 215 255);
}
/* ảnh con mèo không có acc  */
.title-no-account__img{
    background: url(../img/meo_no_acc.png) center / cover;
    height: 70px;
    width: 70px;
    display: block;
    border: none;
    cursor: pointer;
}
.title-no-account__img:hover{
    height: 100px;
    width: 100px;
}
.infor{
    display: flex;
    /* margin: 0 auto; */
    width: 264px;
    padding-bottom: 42px;
    flex-direction: column;
    align-self: center;
}
/* ảnh con mèo chuyển động  */
.infor__img-container{
    height: 100px;
    width: 100%;
    overflow: hidden;
}
.infor__img{
    height: 100%;
    width: 264px;
    background: url(../img/meo_infor_img.png) center;
    background-size: contain;
    background-position-x: 0px;
}
.infor__item{

}
/* nhập thông tin  */
.input__container{
    display: flex;
    position: relative;
}

.infor__label{
    margin: 15px 0;
    font-size: 16px;    
    font-weight: 600;
}
.infor__input{
    line-height: 32px;
    font-size: 16px;
    border-radius: 6px;
    padding: 0 8px;
}
.passEye{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0 10px;
    background-color: #f597ca66;
    position: absolute;
    right: 0;
    height: 100%;
    border-radius: 6px;
}
.passEye:hover{
    background-color: #ff6abb;
    color: #fff;
    cursor: pointer;
}

/* nhớ hoặc trợ giúp quên mật khẩu  */
.infor__option{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.infor__option--item{
    
}
.infor__option a{
    text-decoration: none;
    color: black;
}
.infor__option a:hover{
    text-decoration: underline;
    color: red;
}
.infor__forget{
    display: flex;
    justify-content: end;
}
.infor__remeber{
    display: flex;
}
.infor__remeber input{
    margin-right: 6px;
    height: 30px;
    width: 30px;
}
.btn-submit{
    padding: 8px 0;
    border-radius: 4px;
    background: rgb(245, 151, 202);
    border: none;
}
.btn-submit:hover{
    background: rgb(255 106 187);
    border-color: transparent;
    color: #fff;
}
